@font-face {
    font-family: 'CharmingSmile';
    src:  url('../fonts/Charming-Smile-DEMO.woff2') format('woff2'),
          url('../fonts/Charming-Smile-DEMO.woff') format('woff'),
          url('../fonts/Charming-Smile-DEMO.ttf')  format('truetype');
}

@font-face {
    font-family: 'PassionOne';
    src: url('../fonts/PassionOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Overlock';
    src: url('../fonts/Overlock-Regular.ttf') format('truetype');
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body {
    /*background-color: #030303;*/
    background-image: linear-gradient(to right, #202020, #000000, #202020);
    background-size: 150% 100%;
    background-position: center;
    margin: 0;
}

main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

h1, h2, h3, h4, h5, h6, p {
    color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: PassionOne;
}

p {
    font-family: Overlock;
}

h2 {
    font-size: 2em;
}

p.bold {
    font-weight: bold;
}

p.small {
    font-size: 0.85em;
}

p.highlight-text {
    font-family: CharmingSmile;
    font-size: 3em;
}

a {
    text-decoration: none;
}

.section-title-middle * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
}

.section-title {
    margin-bottom: 25px;
}

.section-title-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e9ebe;
    height: 50px;
    width: 200px;
}

.section-title-middle:hover {
    background-color: #155f72;
}

.container {
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    position: relative;
    opacity: 1;
}

.bg-wrapper {
    position: relative;
    height: 100%;
    margin-bottom: 40px;
    background-color: transparent;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* navbar */
.nav-link {
    color: #ffd45e;
    font-family: CharmingSmile;
    font-size: 1.35em;
}

.scrolled-down{
    transform:translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up{
    transform:translateY(0);
    transition: all 0.3s ease-in-out;
}

nav.autohide {
    background-color: #6d3908f0;
}

nav.on-top {
    background-color: #5c2f0600;
}

/* header */
.bg-header {
    background-image: url(../img/header-background.jpg);
    height: 100vh;
    margin-bottom: 0px;
}

#header-section-cont {
    height: 100vh;
}

.logo {
    width: 100%;
    max-width: 1080px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#drx-logo {
    width: 100%;
}

/* highlights */
#highlight-section-cont {
    min-height: 350px;
}

.highlight-img-cont {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* spotify player */
.bg-music {
    background-image: url(../img/music-background-3.jpg);
    padding-top: 40px
}

.spotify-selector {
    margin: auto;
    max-width: 500px;
    height: 200px;
}

.spotify-selector-row {
    height: 100%;
}

.spotify-selector-img {
    object-fit: cover;
    object-position: center;
    width: 75%;
    height: 75%;
    opacity: 0.4;
}

.spotify-selector-img.clickable:not(.selected):hover {
    position: relative;
    width: 110%;
    height: 110%;
    left: -5%;
}

.selected {
    width: 95%;
    height: 95%;
    opacity: 1;
}

.spotify-player {
    position: relative;
    margin: auto;
    width: 300px;
    height: 400px;
}

.spotify-player-inner {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 999;
}

.spotify-follow {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 150px;
}

.spotify-follow-img {
    position: relative;
    max-width: 150px;
}

.streaming-links {
    margin: auto;
    max-width: 500px;
}

.color-link-icon {
    /*filter: saturate(0%);*/
    display: block;
    margin: 0 auto;
}

.color-link-icon:hover {
    /*filter: saturate(100%);*/
    filter: brightness(60%);
}

/* bandsintown widget */
.bit-follow-button {
    margin: 0 auto;
    text-align: center;
}
.bit-follow-button-iframe {
    display: block;
    margin: 0 auto;
    border:none;
    overflow:hidden;
}

.bit-widget {
    text-align:left;
}

/* store */
.bg-merch {
    background-image: url(../img/merch-background.jpg);
}

#merch-section-cont {
    height: 420px;
}

/* links */
.icon-container {
    margin-top: 40px;
}

.link-icon {
    filter: saturate(0%);
    display: block;
    margin: 0 auto;
}

.link-icon:hover {
    filter: saturate(100%);
    /*filter: brightness(60%);*/
}

.mail-icon {
    margin: 30px 0 20px;
}

/* band pics & footer */
.band-pics-cont {
    margin: 0 10px;
}

.band-pic {
    width: 105%;
    transform: translateX(-2.5%)
}

.footer {
    margin-top: 350px;
}