.spotify-selector {
    margin: auto;
    max-width: 500px;
    height: 200px;
}

.spotify-selector-row {
    height: 100%;
}

.spotify-selector-img {
    object-fit: cover;
    object-position: center;
    width: 80%;
    height: 80%;
    opacity: 0.6;
}

.spotify-selector-img.clickable:not(.selected):hover {
    position: relative;
    width: 120%;
    height: 120%;
    left: -10%;
}

.selected {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.spotify-player {
    margin: auto;
    width: 300px;
}
